@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android'; /* Nome da fonte */
    font-style: normal; /* Estilo da fonte */
    src: url(fontes/idroid.otf) format('opentype'); /* Caminho para o arquivo da fonte */
    font-weight: normal; /* Peso da fonte */
}

:root {  /*Variáveis de Cores*/
    --cor0: #333366;
    --cor1: #0099ff;
    --cor2: #0066ff;
    --cor3: #2444ad;
    --cor4: #18208b;
    --cor5: #050636;
    --cor6: #0a95e08c;

    --fonte-padrao: 'Arial', Verdana ,Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive'; /*Variável de Fonte*/
    --fonte-android: 'Android', 'cursive';
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    min-width: 150px;
    text-align: center;
    padding-top: 20px;

}
header > h1 {
    color: white;
    font-family: var(--fonte-android);
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.314);
}
header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 1px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.214);
}
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.214);
    position: sticky;
    top: -1px;
    text-align: left;
}
nav a {
    color: var(--cor2);
    padding: 5px;
    text-decoration: none;
    font-family: var(--fonte-android);
    transition-duration: 0.4;
}
nav > a:hover {
    background-color: var(--cor4);
    color: var(--cor1);
    border-radius: 5px;
}
main {
    min-height: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
main h1 {
    font-family: var(--fonte-android);
    color:var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    font-size: 1.8em;
}
main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 8px;
    margin-bottom: 20px;
}
h2.sub {
    font: var(--fonte-destaque);
    font-weight: 700;
    margin-top: 10px;
}
main h3 {
    font-family: var(--fonte-destaque);
    background-image: linear-gradient(to left, var(--cor2), var(--cor1), var(--cor6));
    color: var(--cor5);
    font-size: 1.3em;
    font-weight: 500;
    text-indent: 20px;
}
main h4 {
    margin-bottom: 3px;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong {
    color: var(--cor4);
    font-weight: bold;
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}
main img {
    width: 90%;
    padding-left: 5%;
    color: var(--cor4)
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
img#brian {
    margin-bottom: 10px;
}
div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px - 20px;
    padding: 20px;
    padding-bottom:57%;
    position: relative;
    margin-bottom: 20px;
    margin-top: 5px;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
div.search-bar {
   margin-top: 20px;
   margin-bottom: 20px;
}
div#primeirot {
    margin-top: 20px;
}
.search {
    display: flex;
    align-items: center;
    border: 1px solid var(--cor6);
    background-color: var(--cor1);
    width: 400px;
    margin: 20px left;
    border-radius: 10px;
    padding: 5px 10px;
    color: var(--cor0);
}
#searchinput{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}
.search label {
    height: 20px;
}
.card.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.card {
    width: 300px;
    background-color: white;
    border: 1px solid var(--cor1);
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.212);
}
aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10%;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    list-style-type: '\2714\0020\0020';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer > p > a {
    color: rgba(22, 101, 190, 0.87);
    font-weight: bold;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}